<div class="jumbotron" style="background-color: floralwhite">
  <div class="container">
    <div class="row">
      <!-- the div class below doesn't matter -->
      <div id="proImage" class="col-md-4">
      <%= image_tag @user.images, id:"profile_pic" %>
      </div>
      <div class="col-md-4 mid">
        <div class="user-info">
          <h3>Name:</h3><div><%= @user.name %></div>
          <br>
          <h3>Email:</h3><div><%= @user.email %></div>
          <br>
          <h3>Destroy?:</h3><button id="destroy-user" class="btn btn-sm btn-danger"><%= link_to "delete", @user, method: :delete,
                                        data: { confirm: "You sure?" } %></button>
        </div>
      </div>
      <div class="col-md-4">
        <h3 syle="text-align: center"> Challenges Accepted </h3>
      </div>
    </div>
  </div>
</div>


<!-- modifying picture on desktop -->
<!-- post it in GA profiles -->
<!-- finish profiles -->
