<li>
<!-- image for the challenge -->
  <img id="pika" alt="Peekatchu-r logo" src="/assets/pikachu.jpg" />
  <%= link_to challenge.title, challenge %>
  <!-- Only if the current user is an admin they can delete -->

  | <%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %>
</li>
