<li>
<div class="challengePic">
<!-- image for the challenge -->
  <% if challenge.images.nil? %>
    <img id="pika" alt="Peekatchu-r logo" src="/assets/pikachu.jpg" />
    <br>
    <br>
  <% else %>
    <div class="challengeImage"><%= image_tag challenge.images, class: "pic" %></div>
    <br>
  <% end %>
</div>

  <%= link_to challenge.title, challenge %>
  <!-- Only if the current user is an admin they can delete -->

  | <%= link_to "Delete", "challenges/" + challenge.id.to_s, method: "delete" %>
</li>
