@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  margin-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  // text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* star */

#star{
  p {
  font: 40px;
  font-weight: bold;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
   color: black;
   text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* main page */

#main {
  background-color: #93B1C6;
  // opacity: .8
}

.table {
  text-align: center;
}

#header {
  background-color: #93B1C6;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  // background-image: image-url('bodypic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hometab {
  color: gray;
  margin-left: 21%;
}

.challenges {
  list-style: none;
}

.challenge_pic {
  margin-left: 28px;
}

#tab_header {
  color: black;
  margin-bottom: 60px;
}

#cat {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

#cat1 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

#cat2 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

#cat3 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

#cat4 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.align {
  text-align: center;
}

/* search bar */
.search-index {
  width: 200px;
  margin-left: 40%;
}

/* paginate */

span {
  font: 12px;
  color: black;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* logo */

#pika {
  width: 75px;
  border-radius: 100%;
  margin-left: 470px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* profile pic */

#proImage {
  float:left;
  height: 250px;
  width: 250px;
}

#profile_pic {
  width: 100%;
  height: 100%;
}

.user-info {
  float: left;
  margin-top: -13px;
  font-weight: bold;
  font-size: 15px;
}

#edit-user {
  background-color: #93B1C6;
  padding: 65px;
  border-radius: 3%;
}

.user_info {
  width: 600px;
  border-radius: 10%;
  background-color: #93B1C6;
  margin-top: -30px;
}

.jumbotron {
  background-color: #93B1C6;
  // border-radius: 3%;
}


/* challenge edit page */

#jumbo {
  border-radius: 3%;
}

#inner-jumbo {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5%;
}

#challenge-edit {
  margin-left: 40px;
  border-radius: 1%;
  // float: left;
  a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
  }
  button {
    margin-top: 15px;
    float: left;
    margin-left: -45px;
  }
}

#challenge1 {
  margin-bottom: 10px;
  // margin-left: 64%;
  a {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  button {
    margin-top: 140px;
  }
}

.text-area {
  width: 450px;
  float: left;
  margin-left: 26%;
}

#challenge-btn {
  margin-top: 75px;
  height: 40px;
  margin-left: -29%;
}

/* challenge delete */

#post-delete {
  // background-color: red;
  a {
  font-size: 12px;
  color: black;
  font-weight: bold;
  }
}

#destroy-user {
  margin-top: -1%;
  a {
    font-size: 12px;
    color: black;
    font-weight: bold;
  }
}

/* challenge pic */

.challengePic {
}

.challengeImage {
  height: 75px;
  width: 75px;
}

.pic {
  height: 100%;
  width: 100%;
}

.modal-backdrop {
  position: fixed;
  z-index: 1041;
}


