<footer class="footer">
  <small>
    The <a href="https://peekatchu-r-challenge.herokuapp.com/">Website for Challenges</a>
    by <a href="https://github.com/kwakiekwak/peekatchu-r">John Kwak</a>
  </small>
  <nav>
    <ul>


    </ul>
  </nav>
</footer>
